body {
  transition: all 0.3s;
  background-color: rgb(213, 216, 221);

}

.fs-200 {
  color: #fff;
  font-size: 200px;
}

.box1 {
}
.box2 {
  margin-top: 100px;
}

/*.box2 p {
  width: 300px;
}*/
.txt-center {
  position: relative;
  transition: all 0.3s;
}
.show {
  display: none;
}
.show h3 {
  position: absolute;
  font-size: 30px;
  font-weight: 400 !important;
}
.show h3:nth-child(1) {
  top: 30px;
  left: 250px;
}
.show h3:nth-child(2) {
  width: 400px;
  top: 183px;
  left: 50px;
}
.show h3:nth-child(3) {
  width: 400px;
  top: 60px;
  left: 850px;
}
.show h3:nth-child(4) {
  top: 320px;
  left: 250px;
}
.show h3:nth-child(5) {
  top: 220px;
  left: 1250px;
}
.show h3:nth-child(6) {
  width: 550px;
  top: 440px;
  left: 50px;
}
.show h3:nth-child(7) {
  width: 550px;
  top: 640px;
  left: 250px;
}
.show h3:nth-child(8) {
  width: 550px;
  top: 640px;
  left: 1250px;
}

@media screen and (max-width: 375px) {

body {
  transition: all 0.3s;
  background-color: black;
  transition: all 0.3s;

}



.box1 {
  color: #fff;
  height: 693px;
  width: 150px;
  font-family: wave;
  margin-top: 40px;
  
  line-height: 10px;
  text-align: justify;
  font-size: 8px;

}

.box2{
  margin-top: 0px;
}
.box2 a{
  font-size: 5px;

}

.txt-center{
  margin-top: -180px;
}

.fs-200::after{
  font-size: 6px
}

h1{
  display: block;
  
  padding-top: 15px
}
.fs-200{
  font-size: 100px
}

.show {
  display: none;
}


.show h3 {
  position: absolute;
  font-size: 7px;
  font-weight: 300 !important;
}
.show h3:nth-child(1) {
  top: 80px;
  left: 20px;
}
.show h3:nth-child(2) {
  width: 400px;
  top: 200px;
  left: 20px;
}
.show h3:nth-child(3) {
  width: 400px;
  top: 130px;
  left: 20px;
}
.show h3:nth-child(4) {
  top: 239px;
  left: 20px;
}
.show h3:nth-child(5) {
  top: 285px;
  left: 20px;
}
.show h3:nth-child(6) {
  
  top: 336px;
  left: 20px;
  height: 200px;
  width: 226px
}
.show h3:nth-child(7) {
  width: 550px;
  top: 393px;
  left: 20px;
  height: 200px;
  width: 266px
}
.show h3:nth-child(8) {
  width: 600px;
  top: 473px;
  left: 20px;
}


.fs-200 {
  position: relative;
  font-size: 100px;
  cursor: pointer;
  transition: all 0.2s;
  height: 40px

}

.fs-200:hover {
  font-size: 100px;
  transform:none;
}
.fs-200::after {
  content: "click me";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 6px;
}




}




