body {
  background-color: background: rgb(227,236,114);
background: radial-gradient(circle, rgba(227,236,114,1) 0%, rgba(170,218,247,1) 100%);;
}

@keyframes myfirst {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 1000px);
  }
}
.animate {
  position: fixed;
  top: -200px;
  animation: myfirst 5s linear;
  -moz-animation: myfirst 5s; /* Firefox */
  -webkit-animation: myfirst 5s; /* Safari 和 Chrome */
  -o-animation: myfirst 5s; /* Opera */
}

.fs-200::after {
  content: "click me";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}


@media screen and (max-width: 375px) {

.box1{
  font-size: 8px;
  text-align: justify;
  width: 150px;
  line-height: 10px;
  margin-top: 40px;
}

body{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1{
  padding-top: 10px
}
.apostrophe{
  color: orange;
  font-style: oblique;
}

.box2{
  margin-top: 0px;
}
.box2 a{
  font-size: 5px;

}
.txt-center{
  margin-top: -180px;
}
.fs-200 {
  position: relative;
  font-size: 150px;
  cursor: pointer;
  transition: all 0.2s;
  height: 40px

}

.fs-200:hover {
  font-size: 100px;
  transform:none;
}
.fs-200::after {
  content: "click me";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 6px;
}


}