body {
  background-color: rgb(56, 139, 85);
}
.box {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.box1 {
  width: 800px;
  overflow: hidden;
  margin-left: 100px;
  transition: all 0.2s;
}
.message {
  display: none;
}
@keyframes myfirst {
  0% {
    transform: translate(-800px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes mysecond {
  0% {
    transform: translate(800px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.message:nth-child(1) {
  animation: myfirst 5s linear;
}
.message:nth-child(2) {
  animation: mysecond 5s linear;
}
.message:nth-child(3) {
  animation: myfirst 5s linear;
}

.box2 {
  margin-left: 200px;
}

.blue {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(56, 179, 253);
  transition: transform 0.2s;
}

.blue:hover {
  transform: translateX(-50%) scale(1.2);
}

.orange {
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  background-color: rgb(252, 156, 1);
  transition: transform 0.2s;
}
.orange:hover {
  transform: translateY(-50%) scale(1.2);
}
.pink {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: pink;
}
.pink:hover {
  transform: translateX(-50%) scale(1.2);
}
.fs-200 {
  position: relative;
  font-size: 200px;
  cursor: pointer;
  transition: all 0.2s;
  color: #000;
}

.fs-200:hover {
  font-size: 250px;
  transform: scale(1.2);
}
.fs-200::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 70%);
  color: #fff;
  font-size: 15px;
  content: none;
}


@media screen and (max-width: 375px) {


body{
background: rgb(40,247,0);
background: radial-gradient(circle, rgba(40,247,0,1) 0%, rgba(208,255,126,1) 52%, rgba(138,246,132,1) 100%);
}
.box1 {
  width: 200px;
  overflow: none;
  text-align: justify;
  font-size: 8px;
  color: orange;
  font-weight: bold;
  margin-top: 30px;
  line-height: 10px;
  margin-left: 30px;
  
}
.box2{
  margin-top: 0px;
}
.box2 a{
  font-size: 5px;

}

.txt-center{
  margin-top: -180px;
}

.fs-200::after{
  font-size: 6px
}

h1{
  display: block;
  
  padding-top: 15px
}
.fs-200{
  font-size: 100px
}
.message {
  display: inline;
  animation: none;
}
.box{
  display: none;
}

.box2{
width: 200px;
line-height: 20px;
margin-left: 40px;
}

.fs-200{
  display: none;
  font-size: 100px;
  color: white;
  position: relative;
  top: 30%；

}
    
    .fs-200 {
  position: relative;
  font-size: 100px;
  cursor: pointer;
  transition: all 0.2s;
  
}

  
}



